./accor_images/
./models_files/
venv/
env/
wenv/
.python-version

__pycache__/
**/.ipynb_checkpoints/**
.env/
.vscode/
*.pyc
.mypy_cache/

.output
settings_local.py
data/
.cache
*.egg-info
build/
.pytest_cache
htmlcov
.coverage

.idea/
__pycache__/
data/
*.py[cod]
models/
**/*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/1.0/venv/
/1.0/bup/

